@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Color
$color-white: #ffffff;
$color-border: #f0f0f0;
$color-gray: #808080;
$color-gray2: #ececec;
$color-black: #2c3e50;
$color-primary: #2678ff;

// font
$font-poppins : 'Poppins', sans-serif;

// mixings
@mixin animation($effect, $time, $type) {
	   -moz-animation: $effect $time $type;
	-webkit-animation: $effect $time $type;
			animation: $effect $time $type;
}
@mixin transition($effect, $time, $type) {
	   -moz-transition: $effect $time $type;
	-webkit-transition: $effect $time $type;
			transition: $effect $time $type;
}

@mixin transform($value){
	    -ms-transform: $value; /* IE 9 */
        -webkit-transform: $value; /* Safari 3-8 */
		transform: $value;
}