// Color
$color-white: #ffffff;
$color-border: #f0f0f0;
$color-gray: #808080;
$color-gray-two: #a1a1a1;
$color-gray-three: #d2d2d2;
$color-black: #2c3e50;
$color-primary: #2678ff;
$color-primary-blar: #fdfeff;
$color-yellow: #ffc600;


// font
$font-poppins : 'Poppins', sans-serif;

// mixings
@mixin animation($effect, $time, $type) {
	   -moz-animation: $effect $time $type;
	-webkit-animation: $effect $time $type;
			animation: $effect $time $type;
}
@mixin transition($effect, $time, $type) {
	   -moz-transition: $effect $time $type;
	-webkit-transition: $effect $time $type;
			transition: $effect $time $type;
}

@mixin transform($value){
	    -ms-transform: $value; /* IE 9 */
        -webkit-transform: $value; /* Safari 3-8 */
		transform: $value;
}


.navbar.sm-navbar {
	position: relative;
	background: #ffffff;
	border-bottom: 1px solid $color-border;
	padding: 0;
	.navbar-toggler {
		width: 45px;
		height: 45px;
		background: #1265e3;
		padding: 0;
		border-radius: 50%;
		outline: none;
		.line{
			width: 24px;
			height: 2px;
			background-color: #ecf0f1;
			display: block;
			margin: 4px auto;
			-webkit-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}
	}

	.navbar-toggler:hover{
	  cursor: pointer;
	}
	button.navbar-toggler[aria-expanded="true"] .line:nth-child(2){
	  opacity: 0;
	}

	button.navbar-toggler[aria-expanded="true"] .line:nth-child(1){
	  -webkit-transform: translateY(6px) rotate(45deg);
	  -ms-transform: translateY(6px) rotate(45deg);
	  -o-transform: translateY(6px) rotate(45deg);
	  transform: translateY(6px) rotate(45deg);
	}

	button.navbar-toggler[aria-expanded="true"] .line:nth-child(3){
	  -webkit-transform: translateY(-6px) rotate(-45deg);
	  -ms-transform: translateY(-6px) rotate(-45deg);
	  -o-transform: translateY(-6px) rotate(-45deg);
	  transform: translateY(-6px) rotate(-45deg);
	}

	/** Desktop **/
	@media all and (min-width: 992px) {
		ul.navbar-nav {
			// common
			> li {
				display: inline-block;
				> a {
					display: block;
					padding: 38px 15px;
					font-family: $font-poppins;
					font-weight: 400;
					font-size: 14px;
					line-height: 24px;
					color: $color-black;
					&:hover {
						color: $color-primary;
						text-decoration: none;
					}
				}
			}
			// sub menu
			li.has-menu-item-submenu {
				position: relative;
				ul.sub-menu {
					min-width: 170px;
					position: absolute;
					top: 100%;
					right: 0;
					list-style: none;
					padding: 25px 0;
					box-shadow: 0px 3px 8px 0px rgba( 0, 0, 0, .05 );
					background: #ffffff;
					z-index: 9999;
					display: none;
					a {
						display: block;
						padding: 5px 25px;
						color: $color-gray;
						@include transition(all, .3s, ease);
						&:hover {
							color: $color-primary;
							text-decoration: none;
							margin-left: 2px;
						}
					}
					// inner sub menu
					ul.sub-menu {
						top: 0;
						left: auto;
						right: 100%;
					}
				}
			}
			// mega menu
			li.has-menu-item-megamenu {
				position: static;
				.mega-menu {
					position: absolute;
					top: 100%;
					left: 0;
					right: 0;
					display: none;
					z-index: 9999;
					.smm-widget-area {
						border-top: 1px solid $color-border;
						background: #ffffff;
						box-shadow: 0px 3px 10px 0px rgba( 0, 0, 0, 0.05 );
					}
				}
			}
		}
		// default hover effect
		&.smmNavbar-defaultEffect {
			ul.navbar-nav {
				// sub menu
				li.has-menu-item-submenu {
					position: relative;
					ul.sub-menu { 
						display: block;
						visibility: hidden;
						opacity: 0;
						-webkit-transform: rotateX(90deg);
					    -moz-transform: rotateX(90deg);
					    -ms-transform: rotateX(90deg);
					    transform: rotateX(90deg);
					    -webkit-transform-origin: top;
					    -moz-transform-origin: top;
					    -ms-transform-origin: top;
					    transform-origin: top;
					    -o-transition: 0.3s;
					    transition: 0.3s;
					    -ms-transition: 0.3s;
					    -moz-transition: 0.3s;
					    -webkit-transition: 0.3s;
					}
					&:hover > ul.sub-menu {
						visibility: visible;
					    opacity: 1;
					    -webkit-transform: rotateX(0);
					    -moz-transform: rotateX(0);
					    -ms-transform: rotateX(0);
					    transform: rotateX(0);
					}
					&:hover > a {
						color: #6fa2f6;
					}
				}
				// mega menu
				li.has-menu-item-megamenu {
					.mega-menu {
						display: block;
						visibility: hidden;
						opacity: 0;
						-webkit-transform: rotateX(90deg);
					    -moz-transform: rotateX(90deg);
					    -ms-transform: rotateX(90deg);
					    transform: rotateX(90deg);
					    -webkit-transform-origin: top;
					    -moz-transform-origin: top;
					    -ms-transform-origin: top;
					    transform-origin: top;
					    -o-transition: 0.3s;
					    transition: 0.3s;
					    -ms-transition: 0.3s;
					    -moz-transition: 0.3s;
					    -webkit-transition: 0.3s;
					}
					&:hover > .mega-menu {
						visibility: visible;
					    opacity: 1;
					    -webkit-transform: rotateX(0);
					    -moz-transform: rotateX(0);
					    -ms-transform: rotateX(0);
					    transform: rotateX(0);
					}
					&:hover > a {
						color: #6fa2f6;
					}
				}
				
			}
		}


		/** Hover **/
		ul.navbar-nav {
			// sub menu
			 li.has-menu-item-submenu:hover {
			 	> a {
					color: $color-primary;
					text-decoration: none;
			 	}
				> ul.sub-menu {
					display: block;
				}
			}
			// mega Menu
			> li.has-menu-item-megamenu:hover {
				.mega-menu {  
					display: block;
				}

			}
		} // default
		
		/** animate css support **/
		$animateEffects: bounce, flash, pulse, rubberBand, shake,swing,tada,wobble,jello,bounceIn,
		bounceInDown, bounceInLeft,bounceInRight, bounceInUp, bounceOut, bounceOutDown,bounceOutLeft,
		bounceOutRight, bounceOutUp, fadeIn, fadeInDown, fadeInDownBig, fadeInLeft, fadeInLeftBig,
		fadeInRight, fadeInRightBig, fadeInUp, fadeInUpBig, fadeOut, fadeOutDown, fadeOutDownBig,
		fadeOutLeft, fadeOutLeftBig, fadeOutRight, fadeOutRightBig, fadeOutUp, fadeOutUpBig,
		flip, flipInX, flipInY, flipOutX, flipOutY, lightSpeedIn, lightSpeedOut,rotateIn,rotateInDownLeft,
		rotateInDownRight,rotateInUpLeft,rotateInUpRight,rotateOut,rotateOutDownLeft,rotateOutDownRight,
		rotateOutUpLeft, rotateOutUpRight, slideInUp, slideInDown, slideInLeft, slideInRight, slideOutUp,
		slideOutDown, slideOutLeft, slideOutRight,zoomIn,zoomInDown,zoomInLeft,zoomInRight,zoomInUp,
		zoomOut,zoomOutDown, zoomOutLeft,zoomOutRight,zoomOutUp,hinge,jackInTheBox,rollln,rollOut;
		@each $animateEffect in $animateEffects {
			&.smmNavbar-#{$animateEffect} {
				ul.navbar-nav {
					// sub menu
					li.has-menu-item-submenu:hover > ul.sub-menu {
						display: block;
						@include animation(#{$animateEffect}, .3s, ease-in);
					}
					// mega Menu
					> li.has-menu-item-megamenu:hover .mega-menu {  
						display: block;
					 	@include animation(#{$animateEffect}, .3s, ease-in);
					}
				}
			}
		}
		/** end animate css support **/
		
	}
	/** Mobile **/
	@media all and (max-width: 992px) {
		.navbar-brand {
			margin-left: 15px;
		}
		.navbar-toggler {
			margin-right: 15px;
		}
		.navbar-collapse {
			border-top: 1px solid #f0f0f0;
			border-bottom: 1px solid #f0f0f0;
			padding-left: 15px;
			padding-right: 15px;
			background: #FBFBFB;
			position: absolute;
		    left: 0;
		    right: 0;
		    top: 100%;
		    z-index: 9999;
		}
		ul.navbar-nav {
			// global css for all sub menu and mega menu
			padding-top: 10px;
			padding-bottom: 10px;
			li {
				padding: 7px 0;
				a {
					font-family: $font-poppins;
					font-size: 14px;
					line-height: 26px;
					color: $color-black;
				}
				&:last-child {
					border-bottom: 0;
				}
			}
			// sub menu
			li.has-menu-item-submenu {
				position: relative;
				> a.slicknav {
					display: block !important;
					.icon {
						display: inline-block;
						position: absolute;
					    right: 0;
					    top: 18px;
						&:before {
							content: '';
							display: block;
							width: 30px;
							height: 2px;
							background: $color-black;
							margin-bottom: -15px;
						}
						&:after {
							content: '';
							display: block;
							width: 2px;
							margin-left: 15px;
							height: 30px;
							background: $color-black;
							@include transition(all, 0.3s, ease-in-out);
						}
					}
				}
				ul.sub-menu { 
					display: none;
					list-style: none;
				}
				&.sub-open {
					> a.slicknav {
						.icon:after {
							opacity: 0;
							@include transform(rotate(90deg));
							@include transition(all, 0.3s, ease-in-out);
						}
					}
				}
			}
			// mega menu
			li.has-menu-item-megamenu {
				position: relative;
				> a.slicknav {
					display: block !important;
					.icon {
						display: inline-block;
						position: absolute;
					    right: 0;
					    top: 18px;
						&:before {
							content: '';
							display: block;
							width: 30px;
							height: 2px;
							background: $color-black;
							margin-bottom: -15px;
						}
						&:after {
							content: '';
							display: block;
							width: 2px;
							margin-left: 15px;
							height: 30px;
							background: $color-black;
							@include transition(all, 0.3s, ease-in-out);
						}
					}
				}
				.mega-menu { 
					display: none;
					list-style: none;
				}
				&.sub-open {
					> a.slicknav {
						.icon:after {
							opacity: 0;
							@include transform(rotate(90deg));
							@include transition(all, 0.3s, ease-in-out);
						}
					}
				}
			}
		}
	}
}